
.fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
  }


*{
margin: 0%;
padding: 0%;
}

/* nav section */
.nav{
    display: flex;
    align-items:center;
    justify-content: space-between;
    background-color: #F5F5F5;
    padding: 24px 160px;
    font-weight: 700px;
}
.nav .signin-btn {
    background-color: #F5F5F5;
    width: 116px;
    height: 52px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600px;
}

/* full body/main */
main{
    
    background-color: #FFFFFF;
    gap: 80;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* banner section */
.banner{
    width: 1280px;
    height: 560px;
    padding: 100px 80px;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px;
    background-color: #C6E4D6; 
}

.banner-content .titel{
    width: 622px;
    height: 246px;
    display: flex;    
    flex-direction: column;
    background-color: #FFFFFF;
}
.banner-content {
    width: 622px;
    height: 326px;
    display: flex;    
    flex-direction: column;
    gap: 24px;
    background-color: #FFFFFF;
  

}
.banner-content .titel h3{
    color: rgba(14, 14, 14, 0.5);
    font-weight: 500;
    font-size: 24px;

}
.banner-content .titel h1{
    color: #0E0E0E;
    font-weight: 800;
    font-size: 56px;
}
.banner-content button{
    width: 270px;
    height: 56px;
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
    background-color: #006A50;
    padding: 34px 17px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}







